* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #303030;
  font-family: "PT Sans Narrow", sans-serif;
}

a {
  text-decoration: none;
  color: #303030;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.blue-row {
  background: #0282f9;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 5px 0;
}
.blue-row ul {
  display: flex;
  justify-content: flex-end;
}
.blue-row ul li {
  list-style: none;
  margin-left: 50px;
}

.white-row {
  padding: 20px 0;
}
.white-row .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.white-row .container img {
  width: 75px;
}
.white-row .container .navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.white-row .container .navbar-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 50px;
}
.white-row .container .navbar-nav ul li {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #303030;
}
.white-row .container .navbar-nav .search-bar {
  border-bottom: 2px solid #0282f9;
  padding: 10px 0 10px 50px;
  margin-left: 50px;
  font-weight: bold;
  color: #000;
}

.comics {
  background: #1c1c1c;
  color: #fff;
  text-align: center;
}
.comics a {
  color: #fff;
}
.comics .comics-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}
.comics .comics-list li {
  flex-basis: 15%;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comics .comics-list img {
  width: 100%;
}
.comics .btn {
  display: inline-block;
  padding: 7px 50px;
  text-transform: uppercase;
  background: #0282f9;
  font-weight: bold;
  font-size: 0.8 5rem;
  margin-bottom: 20px;
}

.site-map {
  background: #0282f9;
  color: #fff;
  text-transform: uppercase;
}
.site-map ul {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.site-map ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.site-map ul li img {
  width: 30px;
  margin-right: 10px;
}

.main-footer {
  background: url("../images/footer-bg.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  color: #797979;
  padding: 50px 0;
}
.main-footer .container {
  display: flex;
}
.main-footer .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}
.main-footer li {
  list-style: none;
  font-size: 0.85rem;
  margin-bottom: 10px;
}
.main-footer .left-box {
  display: flex;
  flex-wrap: wrap;
}
.main-footer .left-box .left-nav,
.main-footer .left-box .center-nav,
.main-footer .left-box .right-nav {
  flex-basis: 30%;
}
.main-footer .left-box .copy {
  flex-basis: 100%;
}
.main-footer .left-box .copy a {
  color: #0282f9;
}
.main-footer .right-box {
  height: 300px;
}
.main-footer .right-box img {
  transform: translateY(-15%);
}

.social {
  background: #303030;
  color: #fff;
  padding: 50px 0;
}
.social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social .container .btn-social {
  display: inline-block;
  border: 2px solid #0282f9;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.social .container span {
  flex-grow: 1;
  text-align: right;
  color: #0282f9;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.social .container .social-list {
  display: flex;
}
.social .container .social-list li {
  list-style: none;
  background: #797979;
  color: #303030;
  line-height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 24px;
  display: inline-block;
  width: 46px;
  text-align: center;
}

.details .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 75px 0;
}

.detail-sx {
  flex-basis: 70%;
}
.detail-sx h1 {
  color: #003f5e;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.detail-sx .green-box {
  background: #55ba59;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.detail-sx .green-box .price-holder {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.detail-sx .green-box .price-holder span {
  color: rgba(255, 255, 255, 0.6);
}
.detail-sx .green-box .price-holder .price {
  color: #fff;
}
.detail-sx .green-box .price-holder,
.detail-sx .green-box .check-av {
  padding: 20px;
  border: 1px solid #303030;
}
.detail-sx .text p {
  display: block;
  margin-bottom: 10px;
}
.detail-sx .text p:first-child {
  font-weight: bold;
}

.adv {
  flex-basis: 28%;
  text-align: right;
  text-transform: uppercase;
  margin-left: 2%;
}
.adv img {
  width: 100%;
}

.general-hero {
  height: 390px;
  background: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.general-hero .container {
  height: 100%;
}
.general-hero .container .title-box {
  background: #0282f9;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.general-hero .container img {
  position: absolute;
  bottom: -50px;
  left: 100px;
  z-index: 2;
}

.bb-blue {
  border-bottom: 80px solid #0282f9;
  overflow: unset;
}

.wrap404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrap404 .box404 {
  width: 300px;
  color: #303030;
  text-align: center;
}
.wrap404 .box404 h1 {
  color: #0282f9;
  font-weight: bold;
  font-size: 100px;
}