.details {
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 75px 0;
    }
}

.detail-sx {
    flex-basis: 70%;

    h1 {
        color: $darkBlue;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .green-box {
        background: $green;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;

        .price-holder {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;

            span {
                color: rgba($white, $alpha: .6);
            }

            .price {
                color: $white;
            }
        }

        .price-holder,
        .check-av {
            padding: 20px;
            border: 1px solid $grey;
        }
    }
    .text {
        p {
            display: block;
            margin-bottom: 10px;

            &:first-child {
                font-weight: bold;
            }
        }

    }
}
.adv {
    flex-basis: 28%;
    text-align: right;
    text-transform: uppercase;
    margin-left: 2%;

    img {
        width: 100%;
    }
}